#Web Server Ultimate
#Sun Nov 27 11:19:06 CET 2016
_auth_digest=false
_file_enablegzipcompression=false
_auth_username=bymisi
_dir_enabledirupload=true
_dir_enabledirdownload=true
_dir_allowedip=
_file_enablessi=true
_dir_disablelisting=false
_file_disablemimetype=false
_auth_enabled=true
_file_enabledelete=false
_file_encryption_enable=false
_dir_blockedip=
_auth_password=198535
_dir_defaultindex=index.html
