html {
  background-color: #000;
  color: #fff;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
a {
  color: #eee;
}
a:visited {
  color: #aaa;
}
tr.alt {
  background-color: #333;
}
td {
  padding: 3px;
}
div#genres div {
  width: 16%;
  padding: 0px 2%;
  float: left;
}
div#genres a {
  display: block;
  margin: 5px 0px;
}