html {
  background-image: url(http://bymisi.selfip.com/cantar/uploadcs/33.jpg);
  color: #fff;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
a {
  color: #bbb;
}
a:visited {
  color: #aaa;
}
tr.alt {
  background-color: #555;
}
td {
  padding: 3px;
}
div#genres div {
  width: 16%;
  padding: 0px 2%;
  float: left;
}
div#genres a {
  display: block;
  margin: 5px 0px;
}