@charset "iso-8859-2";
/* CSS Document */
BODY
	{background:url(bg000000.jpg); background-repeat:repeat;}
A:link	
	{ font-family:verdana; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; color:#F93; text-transform:capitalize; text-transform:uppercase;}
A:hover
	{ font-family:verdana; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; color:white; text-transform:capitalize; text-transform:uppercase;}
A:visited	
	{ font-family:verdana; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; color:#F93; text-transform:capitalize; text-transform:uppercase;}
A:active	
	{ font-family:verdana; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; color:#F93; text-transform:capitalize; text-transform:uppercase;}
div#main
	{position:relative; margin:0px auto 0px auto; width:1025px; border: 1px solid #ed901f}
div#kepsor
	{position:relative; height:162px; width:1025px; background-color:#000;}
div#nagykeret
	{width:1025px; height:auto; position:relative; clear:both; overflow:hidden;}
div#menubar
	{position:relative; width:200px; background-color:#066581; border-right:10px solid black; float:left; background:url(div_bg00.jpg); padding-bottom:32000px !important; margin-bottom:-32000px !important;}
div#menuelem
	{position:relative; width:195px; height:15px; padding:10px 0px 10px 5px; vertical-align:middle; background:#252524; border-top: 3px solid #ed901f; border-bottom: 3px solid #ed901f; margin-bottom:5px; text-align:center;}
div#menuelem:hover
	{position:relative; width:195px; height:15px; padding:10px 0px 10px 5px; vertical-align:middle; background:black; border-top: 3px solid #ed901f; border-bottom: 3px solid #ed901f; margin-bottom:5px; text-align:center;}
div#fokeret
	{position:relative; width:795px; float:left; background-color:#ed901f; padding: 10px; padding-bottom:32000px !important; margin-bottom:-32000px !important;}
div#alsokeret
	{position:relative; float:left; width:1025px; height:58px;}
div#balalso
	{position:relative; float:left; width:200px; height:58px; background:url(div_bg00.jpg); background-repeat:repeat; border-right: 10px solid black;}
div#jobbalso
	{position:relative; width:815px; height:48px; border-top: 10px solid black; float:left; background:url(div_bg00.jpg); vertical-align:middle;}
.szovegdoboz
	{background-color:black; color:#F90; border:1px solid grey;}
a.main:link
	{color:#666; font-weight:bold; text-decoration:none;}
a.main:hover
	{color:#000; font-weight:bold; text-decoration:underline;}
a.main:active
	{color:#666; font-weight:bold; text-decoration:none;}
a.main:visited
	{color:#666; font-weight:bold; text-decoration:none;}
